.icon-stack {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}
.icon-stack .base-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
}
.icon-stack .overlay-icon {
    position: absolute;
    font-size: 0.5em;
    color: #fff;
    background-color: #060606; /* 更改为黑色 */
    border-radius: 50%;
    padding: 0.1em;
    bottom: -0.1em;
    right: -0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}